* {
    box-sizing: border-box;
}

body {
    font-size: 0;
}

.box {
    display: inline-block;
    height: 500px;
    width: 25%;
    /*    w25*/
    border: 10px solid black;

}

@media all and (max-width: 768px) {
    .box {
        width: 50%;
        border-color: brown;

    }
}

@media all and (max-width: 400px) {


    .box {
        width: 100%;
        border-color: blue;
    }
}
